/* src/index.css */
@import "tailwindcss";

body {
  background-color: #18181b; /* zinc-900 */
  color: #f4f4f5; /* zinc-100 */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}